 <mat-sidenav-container
  class="sidenav-container"
  [style.marginTop.px]="toolBarHeight"
  [hasBackdrop]="isMobile">

  <mat-sidenav
    #snav
    class="sidenav"
    [mode]="sideNavMode"
    [opened]="sideNavOpened"
    [style.width.px]="isExpanded ? openedWidth : closedWidth">

    <app-side-nav
      *ngIf="isExpanded; else closedMenu"
      [isExpanded]="isExpanded">
    </app-side-nav>

    <ng-template #closedMenu>
      <app-side-nav-closed />
    </ng-template>

  </mat-sidenav>

  <mat-sidenav-content
    [style.marginLeft.px]="!isMobile ? (isExpanded ? openedWidth : closedWidth) : 0">

    <main class="main-container">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>
</mat-sidenav-container>
