.app-container {
  height: 100vh;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.content {
  padding: 16px;
  min-height: calc(100vh - 64px);
}

@media (max-width: 599px) {
  .content {
    min-height: calc(100vh - 56px);
  }
}
