@use '../side-nav/side-nav.scss';

.closed-nav {
  text-align: center;

  .avatar-card {
    margin: 8px;
  }

  a.mat-list-item {
    justify-content: center;
    height: 48px;

    .sidenav-icon {
      font-size: 22px;
    }

    &.active-link {
      background: rgba(63, 81, 181, 0.12);
      border-left: 3px solid var(--mdc-theme-primary);
    }
  }
}
