
/* =========================================================
   Angular Material
========================================================= */
@use '@angular/material' as mat;

/* =========================================================
   Project SCSS modules
========================================================= */
@use './scss/variables' as *;
@use './scss/material';
@use './scss/theme';
@use './scss/utils';
@use './scss/responsive';

/* =========================================================
   Global styles & Material theme
========================================================= */
html {
  height: 100%;

  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: (
      plain-family: $font-family,
      brand-family: $font-family,
    ),
    density: 0,
  ));
}

body {
  /* Default application theme */
  color-scheme: light;

  /* Material system variables */
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  /* Reset */
  margin: 0;
  height: 100%;
}

html,
body {
  height: 100%;
}
