
/* =========================================================
   Typography variables
========================================================= */
$font-family: 'Roboto', sans-serif;
$font-url: 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';

/* =========================================================
   Color variables
========================================================= */
$primary-color: #0b9e6d;
$white: #ffffff;
$main-background-color: #fafafa;
